/* .btnGrad {
  box-shadow: 0 0 10px #eee;
} */

/* .btnGrad:hover {
  box-shadow: 0 0 10px #eee;
} */

/* .btnGrad:focus {
  box-shadow: 0 0 10px #eee !important;
} */

/* .btnGrad:active {
  box-shadow: 0 0 10px #eee;
} */
